*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    position: absolute;
    background-image: url(images/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
